.body {
    width: calc(100% - 36px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 18px;
    gap: 2px;
    overflow: hidden;


    &__search_form {
        display: flex;
        flex-direction: column;
        margin: 12px 0px;
        width: 100%;
        gap: 10px;


        .horizontaldiv {
            margin-top: 4px;
        }

    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
        height: 45vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &__list_item {
            width: 100%;
        }
    }

}