.profile {
  width: calc(100% - 40px);
  // height: 96vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);

  &__container {
    width: 100%;
    max-width: 440px;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background);

    &__button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin: 8px 0px;
      cursor: pointer;
      color: var(--text-color);
    }

    &__body {
      margin: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media (max-width: 840px) {
        width: 200px;
      }

      &__pfp_div {
        position: relative;
        border: 1px solid var(--muted-border);
        border-radius: 12px;
        padding: 4px;

        &__edit_btn {
          color: var(--text-color);
          position: absolute;
          right: -8px;
          top: -8px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          padding: 4px;
          outline: none;
          gap: 4px;
          background-color: var(--primary-color);
          border: 1px solid var(--primary-color-120);
          color: var(--white);
          border-radius: 8px;
          cursor: pointer;

          @media (max-width: 840px) {
            font-size: 14px;
            border-radius: 6px;
          }
        }
      }

      &__title {
        color: var(--text-color);
        font-size: 28px;
        font-weight: 700;
        margin-top: 10px;

        @media (max-width: 840px) {
          font-size: 20px;
        }
      }

      &__subtitle {
        white-space: nowrap;
        color: var(--text-color-2);
        font-size: 20px;
        font-weight: 500;
        margin: 6px 0px;

        @media (max-width: 840px) {
          font-size: 16px;
        }
      }

      &__details {
        display: flex;
        align-items: center;
        gap: 10px;

        &__text {
          color: var(--text-color-2);
          font-size: 18px;
          font-weight: 500;
          color: var(--text-color);

          @media (max-width: 840px) {
            font-size: 14px;
          }
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      font-weight: 500;
      margin-top: 6px;
      padding: 6px 16px;
      outline: none;
      gap: 4px;
      background-color: var(--white);
      color: var(--text-color);
      border: 1.5px solid var(--muted-border);
      cursor: pointer;
      border-radius: 6px;
    }
  }
}

.profile_theme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
