.navbar {
    width: calc(100% - 20px);
    height: calc(80px - 21px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--muted-border);


    @media (max-width: 700px) {
        height: calc(65px - 21px);
    }
}

.chat_navbar {
    width: 100%;
    height: calc(80px - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--muted-border);
    -webkit-box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.05);


    @media (max-width: 700px) {
        height: calc(85px - 20px);
    }

}