.icon {
  background-color: inherit;
  padding: 6px;
  border-radius: 8px;
  //   width: fit-content;
  //   height: fit-content;

  &__logo {
    // width: fit-content;
    // height: fit-content;

    @media (max-width: 840px) {
      padding: 4px;
      width: 40px;
      height: 40px;
    }
  }
}
